* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1800px;
    font-family: var(--main-font);
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parkinsans-normal {
  font-family: "Parkinsans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root {
    --main-color: rgb(7, 89, 127);
    --tennis-color:  rgb(243, 239, 186);
    --heading-font: "Parkinsans", "Roboto", Arial, Helvetica, sans-serif;
    --main-font: "Roboto", Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    color: white;
    background-color: var(--main-color);
}


nav {
    display: flex;
    align-items: center; 
}

.nav-links {
    flex-direction: column;
    background-color: var(--main-color);
    font-size:1rem ;
}

h1 {
    padding: 15px;
    font-size: 2em;
    flex: 1;
    font-family:var(--heading-font)
}

h2{
    font-family: var(--heading-font);
    font-size: 30pt;
    text-align: center;
    border-bottom: 3px dotted black;
    padding: 15px;
}

h3{
    font-size: 20pt;
    padding-top: 50px;
    padding-bottom: 15px;
}

p{
    font-size: 16pt;
}

main {
    margin: 0 auto;
    padding: 15px;
    background-color:var(--tennis-color);
}

.hero{
    padding: 20px;
    display: block;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.feet{
    display: none;
    border: 3px solid black;
}

.aboveform{
    margin: 20px;
    margin-left: 100px;
}


.line{
    border-bottom: none;
}

.hub {
    text-align: center;
}

iframe{
    max-width: 550px;
    width: 100%;
}



.how img, .where img {
    max-width: 400px; 
    width: 100%; 
}



form{
    background-color: rgb(220, 220, 220);
    padding: 20px;
    border-radius: 10px;
    max-width: 550px;
    font-size: 14pt;
    margin: 20px;
}

form input[type="submit"] {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    font-size: 12pt;
    background-color: rgb(222, 230, 238);
    font-weight: bold;
    
}

form input[type="text"] {
    max-width: 500px;
    width: 100%;
    padding: 5pt;
    font-size: 14pt;
    display: block;
}

form input[type="date"] {
    max-width: 500px;
    width: 100%;
    padding: 5px;
    font-size: 14pt;
    display: block;
}

select {
    max-width: 500px;
    width: 100%;
    padding: 5px;
    font-size: 14pt;
    display: block;
}

textarea {
    max-width: 500px;
    width: 100%;
    padding: 5px;
    font-size: 14pt;
}

form input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 10px; 
    transform: scale(1.5);
}

label span{
    color: rgb(37, 37, 185);
}


.submit-page{
    font-size: 18pt;
    padding: 50px;
    text-align: center;
}


.players, .how,.where{
    max-width: 1200px;
    margin: 0 auto;
}

.player {
    overflow: hidden;
    margin-bottom: 50px;
}


.players img {
    float: left;
    max-width: 200px;
    margin-right: 30px;
}






/* Style for just small screens */
@media screen and (max-width: 639px) {
    .nav-links-overlay {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 20%;
        left: 80%;
        transform: translate(-50%, -20%);
        padding: 40px;
        max-width: 400px;
        background-color: var(--main-color);
        justify-content: center;
        align-items: center;
        z-index: 1000;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .nav-links-overlay.show {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }

    .nav-links a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        margin: .5rem;
        text-align: left;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        background: none; 
        border: none; 
        color: white; 
        cursor: pointer;
    }
}





footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 100px;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
    color: white;
}

#lastModified{
    color: white;
}